.container-password {
  background-color: #fff;
  border-radius: 8px;
  z-index: 1;
  padding: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 430px;
  margin: auto;
  height: 45vh;
  margin-top: 60px;
  color: #b0c1d4;
  box-shadow: 0 4px 2px #3e66fb3d;
}

.security {
  margin-top: 30px;
}

.recovery-pass {
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
}

.cancel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ant-btn {
  color: #b0c1d4;
  bottom: none;
}
